<div>
    <alarm class="item" item='i' ng-if="i.type == 'ALARM' && filter.ALARM"/>
    <door1 class="item" item='i' ng-if="i.type == 'DOOR1' && filter.DOOR"/>
    <door2r class="item" item='i' ng-if="i.type == 'DOOR2R' && filter.DOOR"/>
    <window1 class="item" item='i' ng-if="i.type == 'WINDOW1' && filter.WINDOW"/>
    <window1r class="item" item='i' ng-if="i.type == 'WINDOW1R' && filter.WINDOW"/>
    <window2r class="item" item='i' ng-if="i.type == 'WINDOW2R' && filter.WINDOW"/>
    <light class="item" item='i' ng-if="i.type == 'LIGHT' && filter.LIGHT"/>
    <camera class="item" item='i' ng-if="i.type == 'CAMERA' && filter.CAMERA"/>
    <temphum class="item" item='i' ng-if="i.type == 'TEMPERATURE_HUMIDITY' && filter.CLIMATE"/>
    <cover class="item" item='i' ng-if="i.type == 'COVER' && filter.COVER"/>
    <roller1 class="item" item='i' ng-if="i.type == 'ROLLER1' && filter.COVER"/>
    <roller1auto class="item" item='i' ng-if="i.type == 'ROLLER1_AUTO' && filter.COVER"/>
</div>