<div>
    <alarm class="item" item='i' ng-if="i.type == 'ALARM'"/>
    <door1 class="item" item='i' ng-if="i.type == 'DOOR1'"/>
    <door2r class="item" item='i' ng-if="i.type == 'DOOR2R'"/>
    <window1r class="item" item='i' ng-if="i.type == 'WINDOW1R'"/>
    <window2r class="item" item='i' ng-if="i.type == 'WINDOW2R'"/>
    <light class="item" item='i' ng-if="i.type == 'LIGHT'"/>
    <camera class="item" item='i' ng-if="i.type == 'CAMERA'"/>
    <temphum class="item" item='i' ng-if="i.type == 'TEMPERATURE_HUMIDITY'"/>
    <cover class="item" item='i' ng-if="i.type == 'COVER'"/>
    <roller class="item" item='i' ng-if="i.type == 'ROLLER'"/>
</div>